h1.judul {
 font-family: 'quicksand-bold';
}

.question {
 /* color: darkorange; */
 /* position: absolute;
 right: -10px;
 top: 11px; */
 margin-bottom: -10px;
 color: darkorange;
}
.questiontext {
 color: darkorange;
 font-size: 30px;
}
.answer {
 font-size: 22px;
 color: white;
 padding-right: 10px;
}

.tanya {
 font-size: 24px;
 color: black;
}
.jawab {
 margin-top: 5px;
 font-size: 20px;
 border-top: 1px dashed darkgray;
 color: black
}

li {
 list-style: none;
}
/*ul {
 padding-left: 10px;
}*/

div.kotaklogo {
 position: relative;
}

div.kotakutama {
 background-image: url(../img/office.jpg);
 /* Set a specific height */
 min-height: 300px; 

 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
div.kotakkedua {
 background-color: rgba(255, 255, 255, 0.7);
}

.fadein {
  transition: all ease-in 0.25s;
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
}
.fadein .answer{
 padding-left: 30px;
  }
.fadein.ng-hide {
  opacity: 0;  
  /* top:-50px; */
  left: -100px;
  height: 0px;
}
