.logo-head {
 align-content: center;
}
img.logo-hd {
 background-color: blueviolet;
 padding: 5px
}
.navbar {
 z-index: 2500;
}
.navbar-trans {
 background-color: rgba(0, 0, 0, 0.7);
 padding: 1.5px;
 min-height: 50px;
 z-index: 2500;
}
.menu-item {
 margin: 0 5px;
}
#myCarousel {
 margin-top: -50px
}
.cont-njobo {
 padding: 0 0;
}

.logo {
    max-width: 5%;
  }
    @font-face {
    font-family: 'quicksand';
    src: url("assets/fonts/Quicksand/Quicksand-Regular.ttf");
  }
  @font-face {
    font-family: 'quicksand-bold';
    src: url("assets/fonts/Quicksand/Quicksand-Bold.ttf");
  }
  .h3
  {
    font-family: 'quicksand-bold';
  }

  hr
  {
    height: 2px;
    opacity: 0.1;
    border-radius: 40px;
  }

  body
  {
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .btn-floating:hover{
    text-shadow: 2px 2px 4px #000000;
  }
  .btn-floating:active{
    color: black;
  }
  .bg-dark{
    background-color: #1c2636!important;
  }
  .btn-dark{
    background-color: #1c2636!important;
  }

  .ppdiv {
    width: 100px; 
    height: 100px;
    overflow: hidden;
  }
  .pp {
    height: 100%;
    position: absolute;
    border-radius: 50%;
  }
  .coba {
    background-image: url(./assets/img/pp.jpg);
    overflow: hidden;
    height: 100px; 
    width: 100px;
  }
main {
 display: block
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  min-height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 32rem;
}

ul.icon-side {
 list-style-type: none
}

.ikon {
 padding: 5px;
 margin-right: 10px
}

.img-srvcs {
 width: 100%;
 max-width: 300px
}