

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
  }

  .module {
    width: 100%;
    overflow: hidden;
  }

  a.linkhead {
    transition: color 0.5s;
  }

  a.linkhead:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }

  div.test {
  
  }
  
  img.test {
    transition: 0.5s ease;
  }

  
  div.test:hover .test {
    opacity: 0.5;
  }

  .sample-show-hide {
    transition: all ease-in 0.25s;
  
  }
  .sample-show-hide.ng-hide {
    opacity: 0;
  } 